@import url('https://fonts.googleapis.com/css?family=Saira');

/* elements */
* {
  font-family: 'Saira', sans-serif;
}

body {
  background-color: #253300;
}

button {
  border: 0;
  border-radius: 0.5em;
  background-color: #C6E47D;
  color: #444;
}

button:hover {
  background-color: #FFF;
}

input[type="text"] {
  background-color: #454545;
  border: 1px solid #333;
  border-radius: 0 0.5em 0.5em 0;
  box-shadow: inset 0 0 0.5em #121212;
  color: #C6E47D;
}

input[type="text"]::placeholder,
input[type="text"]::webkit-input-placeholder {
  color: #CCC;
}

input[type="text"]:focus {
  box-shadow: inset 0 0 0.5em #C6E47D;
}

label {
  background-color: #333;
  border: 1px solid #333;
  color: #AAA;
}

/* classes */
.monarch-button {
  color: #CCC;
  background-color: #555;
}

.the-monarch {
  color: #555;
  background-color: #ffd700;
}

.nav {
  background-color: #333;
  font-size: 20pt;
  padding: 1em;
}

.gray {
  background-color: #AAA;
  font-weight: bold;
}

.player-card {
  background-color: #555;
  border-radius: 1em;
  box-shadow: 0 0 1em #121212;
}

.player-sheet {
  background-color: #555;
  padding: 0;
  border: 2px solid #253300;
}

.player-sheet .name {
  font-size: 40pt;
}

.player-sheet .life {
  padding: 0;
}

.player-sheet .life button {
  padding: 10px;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.1);
  color: #DDD;
}

.player-sheet .info {
  background-color: rgba(0, 0, 0, 0.5);
  color: #CCC;
  font-size: 20pt;
  padding: 0.5em;
}

.player1 .info {
  border-bottom: 5px solid #FF0000;
}

.player2 .info {
  border-bottom: 5px solid #00FF00;
}

.player3 .info {
  border-bottom: 5px solid #0000FF;
}

.player4 .info {
  border-bottom: 5px solid #FF00FF;
}

.picker {
  border: 1px solid #333;
  border-radius: 0.5em;
}

.picker li label {
  background-color: #454545;
  border: 1px solid #333;
  box-shadow: inset 0 0 1.5vh #121212;
  border-radius: 0;
}

.picker li:last-child,
.picker li:last-child label {
  border-radius: 0 0.5em 0.5em 0;
}

.picker input[type="checkbox"]:checked ~ label {
  border-color: #C6E47D;
  box-shadow: none;
}

.top-container {
  background-color: #555;
  border-radius: 0 0 0.5em 0.5em;
  box-shadow: 0 0 1.5em #121212;
  color: #C6E47D;
}

.well {
  background-color: #454545;
  border-right: 1px solid #C6E47D;
  border-left: 1px solid #C6E47D;
  border-bottom: 1px solid #C6E47D;
  border-top: none;
  border-radius: 0 0 0.5em 0.5em;
  box-shadow: inset 0 0 0.5em #121212;
}

.well-label {
  background-color: #333;
  border-right: 1px solid #C6E47D;
  border-left: 1px solid #C6E47D;
  border-top: 1px solid #C6E47D;
  border-bottom: none;
  border-radius: 0.5em 0.5em 0 0;
  color: #C6E47D;
}

/* ids */
